<div class="panel panel-default">
  <div class="panel-heading">Thank you for signing up!</div>
  <div class="panel-body">
    A blurb about all the benefits of registration!!!

    You should receive an email with registration information shortly.
    Before your account is activated, you will have to confirm your email address using the link provided in the confirmation email.

    If you run into any problems, contact <%= link_to "support@pi.partners.org" %> or something
  </div>
</div>
