<div class="jumbotron">
  <div class="container">
    <h1><%= @name %></h1>

    <ul class="nav nav-pills">
      <li class=""><a href="#">Basic Information</a></li>
      <li><a href="#">Labs & Measurements</a></li>
      <li><a href="#">Medical Record</a></li>
      <li><a href="#">Surveys</a></li>
      <li><a href="#">Connections</a></li>
    </ul>
  </div>
</div>

<div>
  <div id="basic-info">

  </div>

  <div id="labs-measurements">

  </div>

  <div id="medical-record">

  </div>

  <div id="surveys">

  </div>

  <div id="connections">

  </div>

</div>