<div class="reg-header">
  <div class="container">
    <h1>Welcome to Pi</h1>
    <p>Your personal home for (something catchy about helping with research)</p>
  </div>
</div>
<div class="container">
  <%= render partial: "reasons" %>
</div>
<%= render partial: "form" %>

