.form-errors {
  .panel-heading {
    padding: 10px 10px;
  }
  .panel-title {


    i.indicator {
      padding-right: 5px;
    }
  }

  .panel-body {
    padding: 10px;
    ul {
      margin: 0;
    }
  }
}